:root {
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
}

form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    a { text-align: center; }
}