.bottomContainer{
    align-items: end;
    background-color: var(--clr-neutral-100);
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: end;
    left: 0;
    padding-block: .75rem;
    padding-inline: 1rem;
    position: fixed;
    width: 100%;
}