:root {
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-95: hsl(0 0% 95%);
    --clr-neutral-85: hsl(0 0% 85%);
    --clr-neutral-40: hsl(0 0% 40%);
    --clr-neutral-20: hsl(0 0% 20%);

    --clr-bg: var(--clr-neutral-95);
    --clr-text: var(--clr-neutral-20);
    --clr-text-light: var(--clr-neutral-40);
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
}