.toggleInput{
    align-items: center;
    background-color: var(--clr-neutral-85);
    border-radius: .5rem;
    box-sizing: border-box;
    display: flex;
    gap: .25rem;
    justify-content: center;
    padding-block: .5rem;
    padding-inline: 1rem;
    width: fit-content;

    &:has(input:checked) {
        background-color: var(--clr-neutral-20);
        color: var(--clr-neutral-100);
    }

    &.fillWidth{ width: 100%; }

    input{ display: none; }
}