.main {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-df);
    gap: var(--space-lg);
    padding-block: 4rem;
    padding-inline: 1rem;

    body:has(&) { align-items: center; }

    h1, h2{
        font-size: var(--fs-lg);
        font-weight: var(--fw-sb);
    }

    p{
        color: var(--clr-text-light);
        font-size: var(--fs-md);
        line-height: 150%;
    }
}